// BUTTONS ---------------------------
.btn {
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3), 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  font-weight: 500;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all ease-in-out 0.1s;
  letter-spacing: 1px;

  &:hover {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(0.5px);
  }

  &:active {
    box-shadow: none;
    text-shadow: none;
    transform: translateY(2px);
  }
}

[class*="btn-"]:not([class*="btn-outline-"]) {
  border: 0;
}

[class*="btn-outline-"] {
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }
}

.social-button {
  letter-spacing: 0;

}
