// contact form
// import partials ---
@use "./variables" as v;


.contact-form {

  & label {
    margin-bottom: 0.2rem;
    color: var(--bs-primary);
    font-weight: 500;
  }

  & input,
  & textarea {
    background-color: v.$even-bg;
    border-radius: 5px;
    border: 1px solid var(--bs-primary);
    margin-bottom: 2rem;
    outline: 0;
    padding: 0.5rem;
    transition: v.$transition;
    width: 100%;
  }

  & input:focus,
  & textarea:focus {
    background-color: v.$odd-bg;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-color: v.$info;
  }
}

@media only screen and (max-width: 992px) {
  .contact-form {

    & input,
    & textarea {
      margin-bottom: 1rem;
    }
  }
}


////////////////////////
/// working hours widget
.working-hours {
  border: 1px solid var(--bs-primary);

  & table {
    margin-bottom: 0;

    & .thead>tr>th {
      background-color: v.$even-bg;
    }

    & tbody>tr>td:first-child {
      font-weight: 500;
    }

    & tbody>tr:nth-child(odd)>td {
      background-color: v.$odd-bg;
    }

    & tbody>tr:nth-child(even)>td {
      background-color: v.$even-bg;
    }

  }

}

/////////////
// map widget
.map-widget-container {
  position: relative;
  padding-bottom: 400px !important;
  height: 0;
  overflow: hidden;
  height: auto;
  border: 1px solid var(--bs-primary);
  display: block;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-height: 400px !important;
  }
}